body{
}
.HeaderFooterHr{
	border:#428bca 1px solid;
	margin:0px;
}

#HeaderHr{
	margin-top:6px;
}

#HeaderDiv{
	padding-top: 5px;
	margin-bottom: 15px;
	font-family:'Microsoft YaHei';
	background-color: #428bca;
}

#HeaderHomeDiv{
	padding-left: 109px;
}

#FooterDiv{
	margin-top: 125px;
	text-align:center;
	line-height:25px;
	font-size:15px;
	font-family:'Microsoft YaHei';

}

.HeaderText{
	font-size:14px;
	color:#FFFFFF;
}
.HeaderText:hover{
	color:#DDDDDD;
	text-decoration: none;
}

.HeaderStaticText{
	font-size:15px;
	color:#FFFFFF;
}

.HeaderDivide{
	margin-left: 10px;
	margin-right: 10px;
}

#HeaderRightDiv{
	margin-bottom: 8px;
	margin-top: 3px;
}

#HeaderLoginLink{
	margin-left: 68px;
	margin-right: 17px;
}

#HeaderSuperLink{
	margin-left: 10px;
	font-size: 15px;
}