body{
	overflow-x: hidden; 
	
}
/*页头*/
#header{
	width: 100%;
	height: 50px;
	background-color: #303a40;
	z-index: 1

}
#logo{
	padding-left: 150px;
	font-family: "微软雅黑";
	font-size: 20px;
}
#logo1{
	padding-right: 170px;
	font-family: "微软雅黑";
	font-size: 16px;
}
/*页头*/

/*主体*/
#maincontent{
	
	
	width: 100%;
	height: 1450px;
	background-color: #daf0fb;
}



/*快速登录*/
#quicklogin{
	width: 320px;
	height: 320px;
	background-color: rgba(48,58,64,0.6);
	position: relative;
	top: 40px;
	left: 870px;
	z-index:2;
	font-family: "微软雅黑";
	
	
}
#title{
	position: relative;
	width: 145px;
	height: 50px;
	margin-left: 15px;
	padding-left: 8px;
	color: white;
	font-size: 30px;
	border:2px #303a40 solid;
	display: ;
	z-index: 1;
}
#ckx{
	color: white;
}
#hint{
	color: red;
	font-size: 30px;
	margin-left: 40px;
	
}

/*快速登录*/
/*欢迎页面*/
#welcome{
	width: 320px;
	height: 320px;
	background-color:rgba(48,58,64,0.9) ;
	position: absolute;
    top: 40px;
	left: 870px;
	z-index:1;
	
	font-family: "微软雅黑";
}
#wtitle{
	font-family: "YueHei";
	font-size: 35px;
	color: white;
	margin-left: 85px;
}
#wname{
	font-family: "YueHei";
	font-size: 20px;
	color: white;
	margin-left: 125px;
}
#wimg{
	
	margin-left: 70px;


}
#wlog{
	width: 100px;
	height: 20px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 105px;
}

/*欢迎页面*/
/*图片切换*/
.wrap {
	position:relative;
	z-index:0;
	height:420px;
}
.banner-show {
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	width:100%;
	min-width:980px;
	height:420px;
	overflow:hidden;
}
.banner-show .cell {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
	background-repeat:repeat-x;
	background-position:center top;
}
.banner-show .cell .con {
	position:relative;
	height:420px;
	background-repeat:no-repeat;
	background-position:center top;
}
.bns-01 {
	background-image:url(../images/mid_banner/banner_01_repeat.png?v=201406241538);
}
.bns-01 .con {
	background-image:url(../images/mid_banner/banner_01.png?v=201406241538);
}
.bns-02 {
	background-image:url(../images/mid_banner/banner_02_repeat.gif?v=201406241538);
}
.bns-02 .con {
	background-image:url(../images/mid_banner/banner_02.png?v=201406241538);
}
.bns-03 {
	background-image:url(../images/mid_banner/banner_03_repeat.png?v=201406241538);
}
.bns-03 .con {
	background-image:url(../images/mid_banner/banner_03.png?v=201406241538);
}
.banner-link {
	position:absolute;
	top:100px;
	left:50%;
	width:400px;
	height:400px;
	margin-left:-430px;
}
.banner-link i {
	display:none;
}
.banner-control {
	position:absolute;
	top:0;
	left:50%;
	width:980px;
	margin-left:-490px;
}
.banner-control a {
	position:absolute;
	top:190px;
	width:30px;
	height:30px;
	line-height:10;
	overflow:hidden;
	background-image:url(../images/icon_control.png?v=201406241538);
	background-repeat:no-repeat;
	background-repeat:no-repeat;
}
.banner-control a.left {
	left:-135px;
	background-position:0 0;
}
.banner-control a.left:hover {
	background-position:0 -30px;
}
.banner-control a.right {
	right:-135px;
	background-position:-30px 0;
}
.banner-control a.right:hover {
	background-position:-30px -30px;
}
/*图片切换*/

/*搜索*/
#search{
	position: absolute;
	top: 400px;
}
#searcher{
	width: 700px;
	height: 50px;
	background-color: white;
	float: left;
	margin-bottom: auto;
	margin-left: 150px;
	margin-right: auto;
	margin-top: 90px;
	
}
#searchcontent{
	height: 50px;
	font-size: 30px;
	font-family: "微软雅黑";
}

#querybut{
	position: relative;
	left: 850px;
	top: -50px;
	cursor: pointer;
}
/*搜索*/

/*快速预约*/
#visit{
	position: absolute;
    top: 570px;
    left: 150px;
	background-color: #FFDEAD;
	width: 700px;
	height: 350px;
	border:none;

}
#vtitle{
	height: 40px;
	width: 700px;
	background-color: #FFDEAD;
	font-family: "微软雅黑";
	font-size: 25px;
	padding-left: 5px;
	color: white;
	padding-top: 5px;
}

#Querylist{
	width:600px;
	height:240px;
	background:none;
	float:left;
	margin:auto;
	margin-top:20px;
	margin-left:35px;
	margin-bottom:50px;
	padding:0px;
	border:none;
	}
.querytitle2{
	color:#FFF;
	font-size:24px;
	font-weight:600;
	font-family:"Microsoft Yahei";
	margin-left:10px;
	line-height:50px;
	}

#Querylist td{
	padding:5px 5px 10px 10px;
	}
.start{
	color:#FFF;
	font-size:30px;
	font-weight:600;
	font-family:"Microsoft Yahei";
	margin-left:10px;
	line-height:50px;
}
.go{
	color:#FFF;
	font-size:30px;
	font-weight:600;
	font-family:"Microsoft Yahei";
	margin-left:10px;
	line-height:50px;
	}
#queryArrow{
	margin-top:-90px;
	margin-left:85px;
	}
.querystyle{
	width:195px;
	height:115px;
	background-color:#9d99f0;
	}
    .querystyle span {
        color:#000;
    }
#helpframe{
	width:195px;
	height:115px;
    background-color:#DC143C;
	cursor:pointer;
}
    #helpframe:hover{
	background:#F69;
}
#helpinfo{
	margin-top:-90px;
	margin-left:85px;
}
#noticeframe{
	width:195px;
	height:115px;
    background-color:#FF6347;
	cursor:pointer;
}
    #noticeframe:hover{
	background:#F69;
}
#noticeinfo{
	margin-top:-90px;
	margin-left:85px;
}
#startquery{
	width:195px;
	height:115px;
	background-color:#fb4359;
	cursor:pointer;
	}
#startquery:hover{
	background:#F69;
	}
#area{
	font-family: "微软雅黑";
	font-size: 18px;
	margin-left:50px;
	margin-top:5px;
}
#type{
	font-family: "微软雅黑";
	font-size: 18px;
	margin-left:24px;
	margin-top:5px;

}
#class{
	font-family: "微软雅黑";
	font-size: 18px;
	margin-left:50px;
	margin-top:5px;
}

/*快速预约*/
/*预约流程*/
#myModal{
	font-family: "微软雅黑";
}

.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(../images/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
/*预约流程*/
/*公告*/
#news{
	position: absolute;
    top: 570px;
    left: 870px;
	
	width: 320px;
	height: 350px;
	background-image: url(../images/newrecent.png);
	background-position: -10px;

}
#nmore{
	position: relative;
	left: 270px;
	top: 35px;

}
#news a{
	color: black;
	text-decoration: none;
}
#news a:hover{
	color: white;
}



#firsthotnews{

	margin-top:42px;

	}
.new{
	
	font-size:16px;
	font-family:"Microsoft Yahei";
	margin-top:12px;
	margin-left:32px;
	}

.words{
	color:#333;
	font-size:16px;
	font-family:"Microsoft Yahei";
	}
.words:hover{
	color:#FFF;
	}
.hotnews{
	text-align:left;
	font-size:10px;
	width:315px;
	height:50px;
	margin-left:0px;
	margin-bottom:4px;
	margin-top:0px;
	border:1px solid transparent;
}
/*公告*/

/*热点医院*/
#activehot{
	position: absolute;
	width: 1040px;
	height: 520px;
	top: 940px;
    left: 150px;
    overflow: hidden;
    
}
#hots1{
	
	
	background-color:#DCDCDC;
	width: 1040px;
	height: 520px;
	display: block;
	position: relative;


}
#htitle1{
	height: 50px;
	width: 1040px;
	background-color: #DCDCDC;
	font-family: "微软雅黑";
	font-size: 25px;
	padding-left: 25px;
	color: white;
	
}

#hots2{
	z-index: 5px;

	position: absolute;
	top: 0px;
	left: 1040px;
    display: block;
   
	background-color:#DCDCDC;
	width: 1040px;
	height: 520px;
	

}
#htitle2{
	height: 50px;
	width: 1040px;
	background-color: #DCDCDC;
	font-family: "微软雅黑";
	font-size: 25px;
	padding-left: 25px;
	color: white;
	
}

.hothospital{
	width: 463px;
	height: 130px;
	border: 1px black transparent;
	padding-top: 11px;
	padding-left: 20px;
	background-color: #FFF5EE;
}

.hots li{
	list-style: none;
	float: left;
    overflow: hidden;
    width: 463px;
    height: 130px;
    margin: 10px;
}
.hots li img{
	float: left;
    overflow: hidden;
    width: 136px;
    height: 104px;
    border: 1px #CCCCCC solid;
    padding: 4px;
}
.hots li strong{
	float: left;
    overflow: hidden;
    width: 280px;
    margin-left: 10px;
    color: #035B9E;
    font-family: 微软雅黑;
    font-size: 14px;
   font-weight: bold;
   font-style: normal;
   line-height: 24px;
   text-align: left;
}
.hots li p{
	float: left;
	overflow: hidden;
	width: 280px;
	margin-left: 10px;
	color: #565656;
	font-family: 微软雅黑;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
	text-align: left;
}

#hleft{
	position: absolute;
	top: 950px;
	left: 1040px;
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 36;
	-moz-border-radius:36px;

}
#hright{
	position: absolute;
	top: 950px;
	left: 1080px;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius:36;
	-moz-border-radius:36px;
}
/*热点医院*/

/*主体*/


/*页脚*/
#footer{
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: #303a40;
}

/*页脚*/