.header{
	height:80px;
	background-color:#3385FF;
	font-size:25px;
}

.main_search{
	margin-top:8px;
}

.guide{
	margin-top:35px;
	height:40px;
	background-color:#0099CC;
	line-height:45px;
	font-size:15px;
}

.guide_text_1{
	color:#B9D1FA;
	
}

.guide_text_2{
	color:#fff;
}
a.guide_text_2:hover{
	color:#fff;
}

.guide_text_3{
	width:120px;
	height:35px;
	line-height:40px;
	text-align:center;
	margin-top:2.5px;
	border-color:#fff;
	border-left:solid 1px;
	border-right:solid 1px;
}

.hsp_choose_table{
	width:80%;
	margin-top:25px;
	margin-left:10%;
	line-height:25px;
	border-color:#BDCCF2;
}

.hsp_title{
	width:8%;
	text-align:center;
	background-color:#EEF6F6;
}

.hsp_lev{
	font-size:14px;
	width:86px;
	margin-left:25px;
	cursor:pointer;
}
.hsp_lev:hover{
	color:orange;
}

.hsp_lev_choice{
	background-color:#97B7FC;
}

.hsp_type{
	font-size:14px;
	width:150px;
	margin-left:25px;
	cursor:pointer;
}
.hsp_type:hover{
	color:orange;
}

.hsp_type_choice{
	background-color:#97B7FC;
}

.hsp_table{
	width:80%;
	margin-left:10%;
	margin-top:20px;
	border-width:5px;
	border-collapse:1px;
}

.hsp_link{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#7BC3FF;
	cursor:pointer;
	margin-top:30px;
	font-family:'Microsoft YaHei';
}
.hsp_link:hover{
	background-color:#377BEE;
}
.hsp_link a{
	color:#fff;
}
.hsp_link a:hover{
	color:#fff;
	text-decoration:none;
}

.page_sty{
	margin-left:35%;
	width:40%;
	font-size:15px;
}
