.psw_main_change{
	margin-top:30px;
	margin-left:5%;
	font-size:15px;
	font-family:'Microsoft YaHei';
	line-height:40px;
	margin-bottom:100px;
}

.psw_left_text{
	text-align:right;
}

.old_psw_text{
	height:30px;
	margin-top:3px;
}

.psw_confirm{
	margin-top:30px;
	margin-left:100px;
	height:30px;
	width:120px;
	background-color:#86BC4C;
	font-size:18px;
	line-height:30px;
	text-align:center;
}
.psw_confirm a{
	color:#fff;
}
.psw_confirm a:hover{
	text-decoration:none;
}